body {
    background-color: #FFDDFF;
    margin: 0px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
}

h1 {
    background-color: #CCCCFF;
    color: #27214F;
    text-align: center;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
}

h2 {
    background-color: #CCCCFF;
    color: #27214F;
    text-align: center;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
}

h3 {
    background-color: #CCCCFF;
    color: #27214F;
    text-align: center;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: -10px;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;

    position: relative;
}

nav a {
    color: #27214F;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #000000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #27214F;

    position: absolute;
    top: 4px;
    width: 0%;

    transition: all ease-in-out 200ms;
}

nav a:hover::before {
    width: 100%;
}

header {
    background: #CCCCFF;
    position: relative;
    top: -4px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.head {
    color: #27214F;
    border-style: double;
    padding: 5px;
    text-align:left;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    float: left;
}

.container {
    width: 80%;
    margin: 0 auto;
}
