:root {
    --background: #CCCCFF;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
    padding: 0;
    max-width: inherit;
	background: #FFDDFF;
    min-height: 100vh;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;

}


/* navigation styles start here */

header {
    background: var(--background);
    text-align: center;
    /* follows while scrolling for position fixed */
    position: fixed;
    /* always on top of everything else */
    z-index: 999;
    width: 100%
}

.logo {
    margin: 0;
}

.nav-toggle {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    /* lines everything up */
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 1.3px;
    width: 1.5em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}


nav {
    /* as it has fixed, will be relative to where it is */
    position: absolute;
    text-align: left;
    /* move 100% of the way down to bottom of header border */
    top: 100%;
    /* controls where it will be, as far left */
    left: 0;
    background: var(--background);
    width: 100%;
    /* can use none, but with transform you can do a transition */
    transform: scale(1, 0);
    /* eases in from top instead of middle */
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    /* spread out elements with space
       em is relative to the font-size of its nearest parent
    */
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: #27214F;
    text-decoration: none;
    /* rem relative to root font-size */
    font-size: 1rem;
    /* text-transform: uppercase;*/
    opacity: 0;
    /* as not checked, much faster transition */
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #FFFFFF;
}

/* if the box is checked, display nav, ~ looks for preceeding sibling. doesn't have to be immediately after */
.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    /* 250ms delay */
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 900px) {
    .nav-toggle-label {
        display:none;
    }

    header {
        display: grid;
        /* 4 columns */
        grid-template-columns: 1fr auto minmax(600px, 12fr) 1fr;
    }

    .logo {
        grid-column: 1 / 2;
        margin-left: 4em;
    }

    nav {
        position: relative;
        text-align: right;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-right: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 4px;
        background: black;
        position: absolute;
        top: -120%;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }
}

/* navigation bar end */


/* general css */


/* good for multi-use functions to turn background purple */

.content {
    display: grid;
    min-height: 70vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: min-content 1fr;
    padding-top: 60px;
    align-content: center;
    padding-left: 10px;
}

main {
    grid-row: 2;
    grid-column: 2 / 3;
    padding: 0 20px;
    position: relative;
    text-align: center;
}


img.image{
    grid-row: 1;
    grid-column: 2 / 3;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    max-width:100%;
    opacity: 0.4;
}

main.text{
    grid-row: 2;
    grid-column: 2 / 3;
    padding: 0 20px;
    position: relative;
    text-align: center;
}


aside {
    grid-row: 1;
    grid-column: 1 / 2;
    padding: 0 10px;
    position: relative;
    text-align: center;

}

main {
    grid-row:2;
    grid-column: 2/3;
    width: 800px;
    background-color: #CCCCFF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
    padding-left: 120px;
    padding-right: 100px;
    align-content: center;
}

.btn {
    background-color: hsl(300, 100%, 93%);
    border: 1px solid hsl(300, 100%, 73%);
    border-radius: 5px;
    padding: 5px 10px;
    color: #000000;
    outline: none;
}

.btn:hover {
    color: #000000;
}

.btn:hover {
    border-color: #000000;
}